#app {

  .main-container {
    height: 100%;
    transition: margin-left .28s;
    margin-left: $sideBarWidth;
    position: relative;
  }

  .SliderBar {
    background: #050A4E;
      box-shadow: inset 8px 8px 40px 0px rgba(0,227,255,0.3), inset -8px -8px 40px 0px rgba(0,227,255,0.3);
    .options {
      width: 14px;
      height: 192px;
      position: absolute;
      right: -14px;
      top: 50%;
      margin-top: -96px;
      z-index: 999;
      img {
        width: 14px;
        height: 192px;
      }
    }
  }

  .router-link-active {
    background: $menuActiveBg;
  }

  .fixedHeader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    transition: width 0.28s;
    border: none;
    overflow: hidden;
    height: 80px;
    padding-top: 16px;
    background-color: #050A4E;
  }

  .sidebar-container {
    transition: width 0.28s;
    width: $sideBarWidth !important;
    background-color: $menuBg;
    height: calc(100% - 112px);
    position: fixed;
    font-size: 0px;
    top: 112px;
    bottom: 0;
    left: 0;
    z-index: 1001;

    // reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }

    .scrollbar-wrapper {
      overflow-x: hidden !important;
    }

    .el-scrollbar__bar.is-vertical {
      right: 0px;
    }

    .el-scrollbar {
      height: 100%;
    }

    &.has-logo {
      .el-scrollbar {
        height: calc(100% - 50px);
      }
    }

    .is-horizontal {
      display: none;
    }

    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }

    .svg-icon {
      margin-right: 16px;
    }

    .sub-el-icon {
      margin-right: 12px;
      margin-left: -2px;
    }

    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
      background-color: transparent!important;
      .el-menu-item {
        background-color: transparent!important;
        padding-left: 32px!important;
        height: 46px;
        line-height: 46px;
      }
    }

    .is-active>.el-submenu__title {
      color: $subMenuActiveText !important;
    }

    & .nest-menu .el-submenu>.el-submenu__title,
    & .el-submenu .el-menu-item {
      min-width: $sideBarWidth !important;
      background-color: $subMenuBg !important;

      &:hover {
        background-color: $subMenuHover !important;
      }
    }
  }

  .hideSidebar {
    .home-container  {
      .wrap {
        width: 1920px;
      }
    }
    .sidebar-container {
      width: 0 !important;
    }

    .main-container {
      margin-left: 21px;
    }

    .submenu-title-noDropdown {
      padding: 0 !important;
      position: relative;

      .el-tooltip {
        padding: 0 !important;

        .svg-icon {
          margin-left: 20px;
        }

        .sub-el-icon {
          margin-left: 19px;
        }
      }
    }

    .el-submenu {
      overflow: hidden;

      &>.el-submenu__title {
        padding: 0 !important;

        .svg-icon {
          margin-left: 20px;
        }

        .sub-el-icon {
          margin-left: 19px;
        }

        .el-submenu__icon-arrow {
          display: none;
        }
      }
    }

    .el-menu--collapse {
      .el-submenu {
        &>.el-submenu__title {
          &>span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }
  }

  .el-menu--collapse .el-menu .el-submenu {
    min-width: $sideBarWidth !important;
  }

  // mobile responsive
  .mobile {
    .main-container {
      margin-left: 0px;
    }

    .sidebar-container {
      transition: transform .28s;
      width: $sideBarWidth !important;
    }

    &.hideSidebar {
      .titleGroup {
        width: 0;
        transition: width 0.28s;
        overflow: hidden;
      }
     /deep/.el-menu-item-group {
        .el-menu-item-group__title {
          transition: width 0.28s;
          overflow: hidden;
          width: 0!important;
        }
      }
      .sidebar-container {
        pointer-events: none;
        transition-duration: 0.3s;
        transform: translate3d(-$sideBarWidth, 0, 0);
      }
    }
  }

  .withoutAnimation {

    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}

// when menu collapsed
.el-menu-item-group {
  &>ul {
    &>div {
      height: 46px;
    }
  }
}
.el-menu-item-group__title {
  padding-top: 0!important;
  padding-bottom: 0!important;
}
.el-menu--vertical {
  &>.el-menu {
    .svg-icon {
      margin-right: 16px;
    }

    .sub-el-icon {
      margin-right: 12px;
      margin-left: -2px;
    }
  }

  .nest-menu .el-submenu>.el-submenu__title,
  .el-menu-item {
    font-size: 14px!important;
    // &:hover {
    //   // you can use $subMenuHover
    //   background-color:red !important;
    // }
  }

  // the scroll bar appears when the subMenu is too long
  >.el-menu--popup {
    max-height: 100vh;
    overflow-y: auto;

    &::-webkit-scrollbar-track-piece {
      background: #d3dce6;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #99a9bf;
      border-radius: 20px;
    }
  }
}

// .noIE {
  .router-link-active {
    background: #23CEFD;
    background: $menuActiveBg;
  }
   // menu hover
   .sidebar-container {
     .submenu-title-noDropdown,
     .el-submenu__title {
       &:hover {
        background: #23CEFD;
         background: $menuHover !important;
       }
     }
   }
// }
// .IE {
//   .router-link-active {
//     background: $menuActiveBg;
//     -webkit-filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#00D2FF',endColorStr='#23CEFD',gradientType='1');
//         filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#00D2FF',endColorStr='#23CEFD',gradientType='1');
//   }
//    // menu hover
//    .sidebar-container {
//      .submenu-title-noDropdown,
//      .el-submenu__title {
//        &:hover {
//         background: $menuHover !important;
//         -webkit-filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#00D2FF',endColorStr='#23CEFD',gradientType='1');
//         filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#00D2FF',endColorStr='#23CEFD',gradientType='1');
//        }
//      }
//    }
// }